<!DOCTYPE html>
<html ng-app>
  <head>
    <title>My Todos</title>
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" sizes="196x196" href="images/app-icon.jpg">
    <script src="http://code.angularjs.org/1.2.11/angular.min.js"></script>
    <script src="js/script.js"></script>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    
  </head>
  <body>
    <h3>PolyAngular - Todo</h3>
   <div ng-controller="Ctrl">
   </div><!-- end controller  -->
   
   <!-- datacontroller for controlling crud functions -->
   <div ng-controller="DataCtrl">

        <p>Total Todos: {{total}}<p>

         <li ng-repeat="task in data" ng-class="{strike: deleted}">  
            <span>id: {{task.id}} <a href="" ng-click="deleteData(task.id)">task: {{task.task}}</a></span><span><input type="checkbox" ng-model="deleted" class="inputbox"> <span class="deletethingy">delete<br></span>
        </li>
      <br/>
      <span><h3>New Task: </h3></span><input type="text" ng-model='newTask' class="input"><br/>
        <button id="addbtn" ng-click="putData(newTask)">Add</button><br>
      <br>
       <button id="refreshbtn" ng-click="refresh()" ng-init="count=0">Refresh</button>
   </div><!-- end DataCtrl -->
   
  </body>
</html>